
body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
text-decoration: none;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.navi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

.navi:hover {
    color:white;
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
}

.form form{
    position: absolute;
    margin-top: 160px;
    margin-left: 158px;
    height: 45px;
    background: white;
    box-sizing: border-box;
    border-radius: 9px;
    width: 500px;
    cursor: pointer;
}

input{
    position: absolute;
    width: 500px;
    height: 45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 9px;
    padding: 0 20px;
    display: block;
}

.signupbutton {
    margin-top: 160px;
    margin-left: 710px;
    align-items: center;
    background-color:#2081E2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: absolute;
}