
.form form{
    position: absolute;
    margin-top: 160px;
    margin-left: 158px;
    height: 45px;
    background: white;
    box-sizing: border-box;
    border-radius: 9px;
    width: 500px;
    cursor: pointer;
}

input{
    position: absolute;
    width: 500px;
    height: 45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 9px;
    padding: 0 20px;
    display: block;
}

.signupbutton {
    margin-top: 160px;
    margin-left: 710px;
    align-items: center;
    background-color:#2081E2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: absolute;
}