*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: #FFFFFF;
}
.bodyentry{
    margin-top: 180px;
    margin-left: 305px;
}
.h1 h1{
    font-size: 40px;
    color:#04111D;
}
.p p{
    font-size: 25px;
    color: #353840;
    margin-top: 15px;
}
.p2 p{
    margin-top: 40px;
    color:#2081E2;
}
.sideimgattop img{
    float: right;
    margin-top: 50px;
    margin-right: 290px;
    width: 535.5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.patagorilla{
    margin-left: 1078px;
    margin-top: 0px;
    align-items: center;
    background-color: #FFFFFF;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    color: #6a88b4;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 535px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.chicken{
    position: absolute;
    margin-left: 307px;
    margin-top: 150px;
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    color: #6a88b4;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 384px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.onigiri{
    position: absolute;
    margin-left: 77px;
    /* margin-right: 20px; */
    margin-top: 330px;
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    color: #6a88b4;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 384px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.nftfilmstudio{
    position: absolute;
    margin-left: 77px;
    margin-top: 330px;
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    color: #6a88b4;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 384px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.notebook{
    position: absolute;
    margin-left: 310px;
    margin-top: 255px;
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    color: #6a88b4;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 380px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;   
}
.opensealogo{
    position: absolute;
    margin-left: 85px;
    margin-top: 256px;
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    color: #6a88b4;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 380px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;   
}
.twopeoplesharingsomething{
    position: absolute;
    margin-left: 75px;
    margin-top: 256px;
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    color: #6a88b4;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 379px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;  
}
.last_button{
    margin-left: 840px;
    margin-top: 120px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(135, 40, 243, 0.3) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.body_note_third p{
    margin-top: 30px;
    margin-left: 760px;
}
.body_note_third iframe{
    margin-top: 30px;
    margin-left: 390px;
}
.bodystart{
    margin-left: 300px;
}
.bodystart p{
    margin-top: 110px;
    margin-left: 520px;
    font-size: 30px;
    color: #353840;
}
.bodystart img{
    margin-top: 70px;
    margin-left: 8px;
    border-radius: 20px;
    filter: blur(0px);
    -webkit-mask-image: linear-gradient(to bottom,transparent);
            mask-image: linear-gradient(to bottom, #fff, transparent);
}
.body h4{
    margin-top: 130px;
    margin-left: 40%;
    font-size: 20px;
    letter-spacing: 1.4px;
}
.insidebody{
    margin-top: 30px;
}
.insidebody tr td{
    padding-left: 80px;
}
#middlebody {
    position:relative;
}
#chickencover{
    border-radius:10px;
    margin-left: 305px;
    margin-top: 100px;
    width: 384px;
}
#chickenlogo {
    margin-left: 270px;
    margin-top: 275px;
    width: 60px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 15px;
}
#onigiricover{
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 100px;
    width: 384px;
}
#onigirilogo {
    margin-left: 728px;
    margin-top: 275px;
    width: 60px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 15px;
}
#nftfilmcover{
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 100px;
    width: 384px;
}
#nftfilmlogo {
    margin-left: 1190px;
    margin-top: 275px;
    width: 60px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 15px;
}
.explore{
    margin-top: 20px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(135, 40, 243, 0.3) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.create{
    margin-left: 20px;
    align-items: center;
    background-image: linear-gradient(144deg,#88a3d4, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(135, 40, 243, 0.3) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.ranking{
    margin-left: 870px;
    margin-top: 60px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(135, 40, 243, 0.3) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.form form{
    position: absolute;
    margin-top: 160px;
    margin-left: 158px;
    height: 45px;
    background: white;
    box-sizing: border-box;
    border-radius: 9px;
    width: 500px;
    cursor: pointer;
}
input{
    position: absolute;
    width: 500px;
    height: 45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 9px;
    padding: 0 20px;
    display: block;
}
.signupbutton {
    margin-top: 160px;
    margin-left: 710px;
    align-items: center;
    background-color:#2081E2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: absolute;
}